<h1 class="display-4"><%= t('orders.title') %></h1>

<%= link_to t('orders.new'), new_order_path, class: 'btn btn-primary' %>

<div id="orders" class="container is-fluid">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
