<div id="<%= dom_id dish %>">
  <div class="mb-5">
    <div>Name</div>
    <div><%= dish.name %></div>
  </div>

  <div class="mb-5">
    <div>Price</div>
    <div><%= dish.price %></div>
  </div>

  <div class="mb-5">
    <div>Course</div>
    <div><%= dish.course %></div>
  </div>
</div>
