<h1 class="display-4"><%= t('dishes.title') %></h1>

<%= link_to t('dishes.new'), new_dish_path, class: "btn btn-primary" %>

<div id="dishes" class="container is-fluid">
  <% @dishes.each do |dish| %>
    <%= render dish %>
  <% end %>
</div>

