<footer class="app-footer text-center">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://github.com/baldarn/open-sagra?tab=MIT-1-ov-file#readme">Copyright</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/baldarn/open-sagra">OpenSagra @ GitHub</a></li>
    </ul>
  </div>
</footer>
